{% extends 'base.html' %}

{% block title %}个人中心{% endblock %}


{% block head %}

{% endblock %}


{% block nav %}
{#    <div class="layui-side layui-bg-black side-nav">#}
{#        <ul class="layui-nav layui-nav-tree layui-nav-side side-nav" lay-filter="nav-user" lay-shrink="all">#}
{#            <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->#}
{##}
{#            {% if user_info.authority == user_attribute.root %}#}
{#                <li class="layui-nav-item layui-nav-itemed">#}
{#                    <a>系统设置</a>#}
{#                </li>#}
{#            {% endif %}#}
{#        </ul>#}
{#    </div>#}
{% endblock %}

{% block body %}
    <div class="side-body">{# layui-body #}
        <blockquote class="layui-elem-quote layui-quote-nm">
            当前用户权限：<span class="layui-badge">{{ user_info.authority }}</span>
        </blockquote>

        <div class="layui-tab layui-tab-card">
            <ul class="layui-tab-title">
                <li>网站设置</li>
                <li>用户管理</li>
                <li>权限分配</li>
                <li class="layui-this">应用管理</li>
            </ul>
            <div class="layui-tab-content" style="height: 500px;">
                <div class="layui-tab-item">{{ user_info.authority }} {{ user_attribute.root }}</div>
                <div class="layui-tab-item">
                    {% if user_info.authority == user_attribute.Authority_Root %}
                        <div>
                            <blockquote class="layui-elem-quote" style="background-color: white;">用户信息</blockquote>
                            <table class="layui-hide" id="user" style="background-color: white;"></table>
                        </div>
                    {% else %}
                        <blockquote class="layui-elem-quote" style="background-color: white;">无权限</blockquote>
                    {% endif %}
                </div>
                <div class="layui-tab-item">3</div>
                <div class="layui-tab-item layui-show">
                    {% if Apps %}
                        {% for app in Apps %}
                            {% if user_info.authority <= app.app_authority %}
                                <blockquote class="layui-elem-quote">
                                    {{ app.app_name }}
                                    <a href="{{ url_for("app." + app.app_id) }}" class="layui-btn">跳转</a>
                                </blockquote>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
    <script>
        document.getElementById('nav-user').className += ' layui-this';
        layui.use('element', function () {
            var element = layui.element;
        });
        {% if user_info.authority == user_attribute.Authority_Root %}
            layui.use('table', function () {
                var table = layui.table;

                table.render({
                    elem: '#user'
                    , url: '/user/query'
                    , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                    , cols: [[
                        {field: 'id', width: 80, title: 'ID', sort: true}
                        , {field: 'username', width: 200, title: '用户名'}
                        , {field: 'authority', width: 80, title: '权限'}
                        , {field: 'createTime', title: '注册时间'}
                    ]]
                    , page: true
                });
            });
        {% endif %}
    </script>
{% endblock %}